
.imgCss{
      width:20em;
      height:20em;
}

.icone {
    /* composes: hi-icon-effect from "./common/IconEffect.css"; */
    margin: 0em 1em;
}

.icone > svg {
    vertical-align:middle;
}

.listInfo {
    list-style:none;
    padding-left:0;
}
.listInfoItem{display:flex;margin-bottom:1em; font-size:0.9em}

.contTypeStyle {font-weight:bold; width:8em; text-transform: uppercase;}
.contStyle {font-weight:bold; color:#455A64;}

.descriptionBloc { border-bottom: 1px solid #dedede; height:6em}

.footer {height:3em; display:flex; align-items:center;justify-content:center}