.shadowBlock {
    box-shadow: 0em 0em 0.5em #000000;
    background-color: white;
    margin-top: 1em;
    flex-grow:1;


}

.header {
    width:100%;
    color: #455A64;
    font-size: larger;
    display: flex;
    flex-direction: row;
    padding: 1em;
    padding-bottom:0;
    width: inherit;
}

.datecompany{
    display: flex;
    font-weight: bold;
    flex-direction: row;
}
.companyName{
    flex-grow: 1;
    padding-left: 1em;
}

.environment{
    background-color: #90A4AE;
    color:white;    
}

.environment>div{
    padding-left:1em;
    padding-right:1em;
}

.liste{
    padding-bottom:1em; 
    margin-bottom:0;
    
}

.header>div{
    flex-grow: 1;
}
.logo {
    align-self: flex-start;
    max-height: 55px;
    margin: 0;
}
