.global{
    padding: 1em;
    padding-bottom: 0.5em;
}
.infos{
    border-bottom: 1px solid #ced7db;
    padding-bottom: 1em;
}

.infos>*{
    padding-left:0em;
}

.imgCss{
    width:100%;
    height:auto;
}

.listInfo {
    list-style:none;
    margin: 0;

}
.listInfoItem{
    display: flex;
    flex-direction: row;
    margin-bottom:1em;
    font-size:0.9em;
}

.contStyle {
    padding-left: 1em;
    color:#455A64;
}

/** Title */
.descriptionBloc {
    /*border-bottom: 1px solid #dedede;*/
    padding-bottom:1em;
}
.names{
    font-size:1.8em;
    font-weight:bolder;
    color:#314047;
}
.jobTitle{
    font-size:1.4em;
    color:#314047;
}


/** footer */
.footer {
    height:3em;
}

.icones{
    margin-bottom: 0.5em;
    margin-top: 2em;
    text-align: center;
}

.icone{
    color: #455A64;
    text-align: left;
    width: 1em;
}
.externalLink{
    color: #455A64;
    text-align: center;
    width: 2em;
}

/* desktop */
@media only screen and (min-width: 60em) {
    .listInfoItem{
        flex-direction: row;
    }
    .descriptionBloc{
        padding-bottom:2em;
    }
}