
.block{
    padding: 1em;
    border-bottom: 1px #ced7db solid;
    display: flex;
    flex-direction: row;
}

.block:last-child{
    border: unset;
    padding-bottom: 0;
}
.header {
    width:100%;
    color: #455A64;
    font-size: larger;
    display: flex;
    flex-direction: column;
    padding-bottom:0;
    width: inherit;
}

.rolecompany{
    display: flex;
    font-weight: bold;
    flex-direction: row;
}

.environment{
    color:#90A4AE;   
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start; 
}

.environment>span:hover{
    color: white;
    background-color:#bf2b38;
}
.environment>span{
    border: 1px solid #bf2b38;
    color:#bf2b38;
    border-radius: 0.2em;
    margin-right: 0.5em;
    text-align: center;
    padding: 0 0.3em;
}

.liste{
    padding-bottom:1em; 
    margin-bottom:0;
    margin-top:0;
    padding-left: 0em;
    list-style-type:none; 
    /*flex-grow: 1;   */
}
.liste>li::before{
    content: "-";
    padding-right: 0.5em;
    color:#90A4AE;
}

.logo{
    margin: auto;
}

.logo>img {
    max-height: 55px;
}

.calendarIcon{
    color: #455A64;
    text-align: left;
    width: 2em;
}
.atIcon{
    color: #455A64;
    text-align: left;
    padding:0em 0.5em;
}

.dateBloc{
    margin: 0.5em 0em;
    vertical-align: middle;
}
.date {
    text-transform:capitalize;
}

.dateDelimitor{
    padding:0.5em 0.5em;
}

.actual{
    color:white;
    background-color: #455A64;
    border-radius: 0.2em;
    border-color: #455A64;
    text-align: left;
    padding-right: 0.5em;
    padding-left: 0.5em;
}