.content{
    display:'flex';
    flex-direction:'column';
    margin: auto;
}

/*.menu{
    composes: col2 from './gridview.css';
    margin-top:3em;
    position:fixed;
    top:0px;
    float:left;
    max-width: inherit;
}*/

.body{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: fit-content;
}

.body>div{
    margin:0.5em;
}