.content{
    composes: col10 from './gridview.css';
    display:'flex';
    flex-direction:'column';
    margin: auto;
}

.menu{
    composes: col2 from './gridview.css';
    margin-top:3em;
    position:fixed;
    top:0px;
    float:left;
    max-width: inherit;
}

.main{
    composes: col9 from './gridview.css';
    float:right;
    /*margin-top:10em;*/
}

.globalInfo{
    composes: col3 from './gridview.css'; 
    position:fixed;
    top:0px;
    float:left;
    max-width: fit-content;
}
