.logo {
    height: 55px;
}

.content {
    align-self: flex-start;
    flex-grow: 1;
    padding-top:0.5em;
    background-color: unset;
}

.date {
    color: #455A64;
    font-weight: bold;
    margin: 0 0.5em;
    font-size: larger;
}

.school {
    color: #455A64;
    font-weight: bold;
    font-size: larger;
    margin: 0 0.5em;
}

.title{
    margin: 0.5em 0.5em;
}

.block{
    padding-bottom: 1em;
    padding-top: 1em;
    border-bottom: 1px #ced7db   solid;
    display: flex;
    flex-direction: row;
    padding: 0.5em;
}

.block:last-child{
    border: unset;
    padding-bottom: 0;
}

.iconeBox{
    margin:auto;    
}