.skill{
    width:100%;
    margin: 0em;
    margin-bottom: 1.5em;
}
.skill:last-child{
    margin-bottom: 0em;
}

.skillName{
    margin-bottom:0.3em;
    color: #657A84;
    font-size:0.9em;
}

.barBox{
    background-color:#ffcdd2;
    margin:auto;
    height:1em;
    width:100%;
    border-radius: 0.5em;
    overflow: hidden;
}


.barBox>div{
    background-color:#bf2b38;
    min-height:1em;
    color:white;
    border-radius: 0.5em;
    vertical-align: middle;
    text-align: center;
    font-size: smaller;

    animation-duration: 2s;
    animation-name: growAnimation;
    animation-timing-function: ease-in-out;
}

.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.title{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-weight: bold;
    color:#455A64;
}

.titleName{
    padding-left: 1em;
    font-size: 1.2em;
}

.title > span{
    vertical-align: middle;
}

.icone{
    color: #455A64;
    text-align: left;
    width: 1em;
    font-size: 1.5em;
    vertical-align: middle;
}

@keyframes growAnimation {
  0% {
    width: 0%;
  }
}